*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#0a0a0a;
  color:#fff;
}

.hero{
  min-height:100vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.hero-text h1{
  font-size:3rem;
}

.hero-text p{
  color:#aaa;
  margin-top:10px;
}

.hero-img img{
  width:280px;
  border-radius:50%;
  box-shadow:0 0 40px rgba(0,255,255,0.4);
}

/* ===== HERO PC DESIGN ===== */

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 12%;
}

.hero-img img{
  width:480px;              /* image বড় */
  border-radius:30px;
  box-shadow:0 0 80px rgba(0,255,255,0.6);
  animation: imgIn 1.5s ease forwards;
}

.hero-text{
  max-width:500px;
  animation: textIn 1.5s ease forwards;
}

.brand{
  color:#00ffff;
  letter-spacing:4px;
  font-size:15px;
}

.name{
  font-size:4.2rem;         /* নাম বড় */
  margin:15px 0;
}

.services{
  font-size:1.2rem;
  color:#aaa;
  line-height:1.9;
}

/* ===== ANIMATION ===== */

@keyframes imgIn{
  from{
    opacity:0;
    transform:translateX(-80px);
  }
  to{
    opacity:1;
    transform:translateX(0);
  }
}

@keyframes textIn{
  from{
    opacity:0;
    transform:translateX(80px);
  }
  to{
    opacity:1;
    transform:translateX(0);
  }
}
