*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#0a0a0a;
  color:#fff;
}

.hero{
  min-height:100vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.hero-text h1{
  font-size:3rem;
}

.hero-text p{
  color:#aaa;
  margin-top:10px;
}

.hero-img img{
  width:280px;
  border-radius:50%;
  box-shadow:0 0 40px rgba(0,255,255,0.4);
}

